.main-content img {
  object-fit: cover;
  height: 250px;
  width: 300px;
}

.album-title {
  text-align: center;
  padding-top: 1rem;
}

.album-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 70px;
}