#main-nav-cont {
  display: flex;
  flex-direction: row;
  height: 3rem;

  left: 0;
  top: 0;
  width: 100%;


  max-width: none!important;
  background: rgba(21,21,23,.95); 


  justify-content: space-between;
  align-items: center;
}

#search-bar {
  display: flex;
  width: 350px;

}