/* TODO Add site wide styles */

* {
  font-family: Proxima Nova, Helvetica, sans-serif;
  margin: 0;
}

.fix-height {
  min-height: calc(100vh - 6rem);
}

 #root {
  display: block;

} 

.splash-cont {
  background-image: url('https://cdn.pixabay.com/photo/2020/06/01/22/23/eyes-5248678_960_720.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


ul {
  list-style-type: none;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 6rem);
  width: 100%;
  
}

#bg-text-content {
  max-width: 640px;
  text-align: center;
  color: #fff;
}

#bg-text-content > h1 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 600;
}

#bg-text-content > h3 {
  margin: 1em 0;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
}

#bg-text-content > a > button {
  border: none;

  height: 64px;
  min-width: 200px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 800;
}
