* {
  font-family: Proxima Nova,Helvetica,sans-serif;
  margin: 0;

  /* transition: background-image 1s ease-in-out; */
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


body {
  color: #212124;
  font-family: Proxima Nova, Helvetica, sans-serif;
  line-height: 1.3;
  opacity: 1;
}

.fix-height {
  min-height: calc(100vh - 120px);
}

 #root {
  display: block;

} 

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  width: 100%;
  position: relative;
  
}

.splash-cont, .next-splash {
  background-image: url('https://cdn.pixabay.com/photo/2020/06/01/22/23/eyes-5248678_960_720.jpg');
  background-position: 50%;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-size: 100% 100%; 
  position: absolute;
  min-height: 100%;
  min-width: 100%;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


ul {
  list-style-type: none;
}


#bg-text-content {
  position: absolute;
  max-width: 640px;
  text-align: center;
  color: #fff;
}

#bg-text-content > h1 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 600;
}

#bg-text-content > h3 {
  margin: 1em 0;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
}

#bg-text-content > a > button {
  border: none;

  height: 64px;
  min-width: 200px;
  line-height: 64px;
  font-size: 24px;
  font-weight: 800;
}



#a-btn-link {

  color: #000;
  background-color: #fff;

  margin-right: 1rem;

  box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  vertical-align: top;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;

  height: 32px;
  line-height: 32px;
  min-width: 80px;
}

#nav-logo {
  margin-left: 1.5rem;
}

#search-bar input, button {

  outline: none;
  border: 0;
    
  }
  
#search-box {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 20px;
  padding: 5px;
  outline: none;
  background: #fff;
  opacity: .75;
}

.main-content ul {
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}