#signup-card {
  
  display: flex;
  justify-content: center;

  flex-direction: column;
  
  background-image: url('../../../public/includes/auth-bg.jpg');
  background-position: bottom;
  background-size: cover;
}

h6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1rem;

}



#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;


  width: 22rem;

  background-color: #fff;

  padding: 1.5rem;
  border-radius: 0.25rem;
  color: #212124;

}

#signup-form > img {
  margin-bottom: 0.5rem;
}

#signup-form > label > input:focus-visible {
  outline: none;
  border: 1px solid #b3d4fc;
  color: #000;
  text-shadow: none;
}

#signup-form > label > input {
  outline: none;
  height: 3.5rem;
}

#signup-btn {
  border: none;
  background-color: #128fdc;
  min-height: 2.5rem;
  color: #fff;
  width: 21.5rem;
  font-size: 1rem;
  font-weight: 600;
}

#signup-form > span {
  width: 80%;

  margin-top: 1rem;
  font-size: .75rem;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  color: #898989;
  text-align: center;
}

#signup-form a {
  color: #006dac;
  text-decoration: none;
}

label {
  margin-bottom: 0.5rem;
}

#cc-text {
  bottom: 4.5rem;
  right: 1.5rem;
  position: absolute;
  color: #a7a7a7;
}

#line-sep {
  height: 0.0625rem;
  background-color: #e3e3e3;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

#signup-form > p {
  text-align: center;
  font-size: .875rem;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#under-form-links {
  width: 22rem; 
  display: flex;
  flex-direction: row;

  align-self: center;
  max-height: 2rem;
}


#under-form-links > div {
  display: flex;
  justify-content: space-between;
}

#under-form-links > div > a{
  display: flex;
  justify-self: flex-start;
}

#under-form-links > div > span > a{
  display: flex;
  justify-self: flex-end;
}

/* #under-form-links > a{
  display: flex;
  justify-content: left;

}

#under-form-links > span > a{
  display: flex;
  justify-content: right;

} */