#signup-card {
  
  display: block;
  width: 22rem;
  border: 1px solid black;


}

h6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}



#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#signup-form > label > input {
  height: 3.5rem;
}

#signup-btn {
  background-color: #128fdc;
}

label {
  margin-bottom: 0.5rem;
}